/*Mobile 1 kolom 12 baris*/
@media only screen and (min-width:360px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 150px);
        gap: 20px;
    }
    
    .item {
        background-color: aquamarine;
        border: 1px solid black;
    }
}

/*Tablet 2 kolom 6 baris*/
@media only screen and (min-width:768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 150px);
        gap: 20px;
    }
    
    .item {
        background-color: aquamarine;
        border: 1px solid black;
    }
}

/*Desktop 4 kolom 3 baris*/
@media only screen and (min-width:1200px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 150px);
        gap: 20px;
    }
    
    .item {
        background-color: aquamarine;
        border: 1px solid black;
    }
}